<!--header start-->
<div id="app-header">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
        <div class="col-12">
            <app-menu></app-menu>
        </div>
    </div>
</div>
<!--header end-->
<!--main start-->
<div class="container" id="app-main">
    <div class="row">
        <div class="col-12">
            <app-msg></app-msg>
        </div>
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!--main end-->
<!--footer start-->
<div id="app-footer">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
        </div>
    </div>
</div>
<!--footer end-->