<div class="row">
  <div class="col-9"></div>
  <div class="col-3" style="text-align:right;">
    <a class="btn btn-primary" routerLink="/admin/add-exchange" role="button">New Stock Exchange</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-shared-data-table 
        [title]='title' 
        [data]='stockExchanges' 
        [columns]='columns' 
        [selection]='selection'
        enableFilter=true
        (selectEmiter)="onSelectEmiter($event)">
    </app-shared-data-table>    
  </div>
</div>

